<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jokes Generator</title>
    <link rel="stylesheet" href="./styles/styles.css" />
  </head>

  <body>
    <div class="container">
      <h1>Enter Your Name to Get a Joke!</h1>
      <form action="/joke" method="post">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required />
        <button class="btn btn-submit" type="submit">Get Joke</button>
      </form>
    </div>
  </body>
</html>