<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jokes Generetor</title>
    <link rel="stylesheet" href="./styles/styles.css" />
  </head>

  <body>
    <div class="container">
      <h1>Programming joke for <%= name %>:</h1>
      <p><%= joke %></p>

      <a class="btn btn-back" href="/">Get Another Joke</a>
    </div>
  </body>
</html>
